.mealSection {
  height: 100%;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 50px;
}

.mealContainer {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.meal-top {
  flex-basis: 33%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mealTopLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  /* background-color: gray; */
}

.mealTopImgContainer {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  z-index: 2;
}

.mealTopImgContainer::after {
  content: "";
  position: absolute;
  width: 270px;
  height: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.281),
    rgb(0, 247, 255, 0.5)
  );
  transition: 0.5s;
}
.mealTopImgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  transition: 1s;
}

.mealTopImgContainer:hover img {
  transform: scale(1.05);
}

.mealTopImgContainer:hover::after {
  width: 300px;
  height: 300px;
}

.mealTopRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
}

.mealTopRight h1,
.mealTopRightHeadingTwo {
  font-weight: 400;
  font-size: 2.3rem;
}

.mealTopRightHeadingTwo {
  color: rgb(0, 247, 255);
}
.mealTopRight .mealTopRightInfo {
  margin-top: 30px;
}

.mealTopRight .mealTopRightInfo p {
  font-size: 1.1rem;
  margin-bottom: 6px;
  font-weight: 300;
}

.meal-box {
  width: 100%;
  height: 100%;
  flex-basis: 33%;
  border: 1px solid rgb(0, 247, 255);
  background-color: rgba(0, 247, 255, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.meal-box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 247, 255, 0.185);
  padding-bottom: 15px;
}
.box-content-2 {
  padding: 30px 10px;
}
.box-content-3 {
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 10px 0;
}

.box-content-3 p b {
  font-size: 1rem;
}

.box-content-3 p {
  font-size: 0.8rem;
  padding-bottom: 5px;
}

.meal-heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 247, 255, 0.904);
  margin-bottom: 13px;
}

.meal-info {
  font-size: 0.8rem;
}

.mealDownArrow {
  color: #fff;
}

.cafeBtn {
  background-color: black;
  color: #fff;
  padding: 16px 60px;
  border: 1px solid rgb(0, 247, 255);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
