.news {
  width: 100%;
  height: 95vh;
  margin: 70px 0 30px;
}

.newsContainer {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.newsTopSection {
  text-align: center;
}

.newsTopSection h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
}

.newsTopSection p {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.newsBottomSection {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 840px) {
  .news {
    height: 100%;
    margin: 70px 0 70px;
  }
  .newsTopSection h1 {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .newsTopSection p {
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  .newsBottomSection {
    grid-template-columns: 1fr;
  }
  .newsBottomBox {
    width: 70%;
    margin: auto;
  }
}
