* {
  scroll-behavior: smooth;
}
/* 
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgb(29, 29, 29);
  height: 10px;
} */

.about {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../Assets/Background-Image.jpg");
}
