.pricingVideo {
  height: 60vh;
  width: 70%;
  object-fit: contain;
  z-index: 1;
  position: relative;
  margin: auto;
  border: 2px solid #fff;
  position: relative;
  margin: 100px auto;
}

#pricingVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.pricingVideoContent {
  position: absolute;
  /* border: 1px solid #fff; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    100deg,
    rgba(0, 0, 0, 0.397),
    rgba(4, 3, 67, 0.203)
  );
  text-align: center;
}

.pricingVideoContent h1 {
  font-size: 2.7rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 100;
  margin-top: 2rem;
}

.pricingVideo p {
  font-size: 0.7rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 200;
  margin-bottom: 1rem;

  line-height: 2;
  letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
  .hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
    padding-right: 0px;
  }
  .content h1 {
    font-size: 3.3rem !important;
  }
  .content p {
    font-size: 1.3rem !important;
    margin-bottom: 3rem;
  }
}
