.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../../Assets/New//abstract-techno-background-with-low-poly-design.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}
