#contactVideo {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.heroContact {
  height: 90vh;
  width: 100%;
  object-fit: contain;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
}

.heroContact .contactContent {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0vh;
  padding-right: 50px;
  background-image: linear-gradient(
    100deg,
    rgb(0, 0, 0),
    rgba(4, 2, 100, 0.321)
  );
  padding-left: 5rem;
  color: rgb(254, 15, 254);
}

.heroContact .contactContent h1,
.contactContentSpan {
  font-size: 3.4rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 100;
  margin-top: 2rem;
  text-align: center;
}

.contactContentSpan {
  color: rgb(254, 15, 254);
}

.heroContact p {
  font-size: 0.9rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 200;
  margin-bottom: 1rem;
  text-align: center;

  line-height: 2;
  letter-spacing: 1px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: red;
}
.hero .btn {
  margin: 1rem 0.5rem;
  font-size: 12px;
  letter-spacing: 1px;
}

.aboutLaunchBtn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.aboutLaunchBtn .playIcon {
  font-size: 40px;
  color: rgb(254, 15, 254) !important;
  margin-right: 10px;
}

.AboutVerticalLine {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(254, 15, 254);
  bottom: 30px;
}
.AboutHorizontalLine {
  position: absolute;
  width: 2px;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  background-color: rgb(254, 15, 254);
}

@media screen and (max-width: 640px) {
  .hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
    padding-right: 0px;
  }
  .content h1 {
    font-size: 3.3rem !important;
  }
  .content p {
    font-size: 1.3rem !important;
    margin-bottom: 3rem;
  }
}
