.events {
  width: 100%;
  height: 125vh;
  box-sizing: border-box;
  background-color: black;
  padding-bottom: 40px;
}

.eventsContainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.eventTop {
  text-align: center;
}
.eventTop h1 {
  font-weight: 400;
  margin: 10px 0 8px;
  font-size: 2.3rem;
}

.eventTop p {
  font-size: 0.98rem;
  line-height: 1.4;
  font-weight: 100;
}
.eventBoxContainer {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 10px;
}
.eventBox {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 255, 0.118);
  border-radius: 8px;
  padding: 6px;
  transition: 0.5s;
  padding-bottom: 20px;
}
.eventBox:nth-child(2) {
  /* background-image: linear-gradient(
    100deg,
    rgba(53, 117, 255, 0.7),
    rgba(19, 19, 239, 0.7)
  ); */
  background-color: rgba(0, 247, 255, 0.456);
  overflow: hidden;
  margin-top: 30px;
  color: #000 !important;
}

.eventImgContainer {
  width: 100%;
  height: 320px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.eventImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.eventTitle {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.eventDate {
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin: 5px 0;
}
.eventDetail {
  font-weight: 100;
  font-size: 0.9rem;
  margin-top: 10px;
}

.eventBox:hover {
  transform: scale(1.03);
}

.eventBox:hover .eventImgContainer img {
  transform: scale(1.05);
}

.eventBtn {
  padding: 15px 50px;
  background-color: black;
  border: 1px solid rgb(0, 247, 255);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 100 !important;
}
