.events {
  width: 100%;
  height: 130vh;
  box-sizing: border-box;
  background-color: black;
  padding-bottom: 40px;
}

.eventsContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.eventTop {
  text-align: center;
}
.eventTop h1 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 2.3rem;
  line-height: 1.2;
}

.eventTop p {
  font-size: 0.98rem;
  line-height: 2;
  font-weight: 100;
  width: 90%;
}
.eventBoxContainer {
  width: 90%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 10px;
  place-items: center;
  padding: 30px;
}

.eventBtn {
  padding: 15px 50px;
  background-color: black;
  border: 1px solid rgb(0, 247, 255);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 100 !important;
  transition: 0.5s;
}
.eventBtn:hover {
  background: rgba(0, 247, 255, 0.805);
}

@media screen and (max-width: 840px) {
  .events {
    height: 100%;
  }

  .eventBoxContainer {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .eventBox {
    width: 100% !important;
  }
  .eventBox:nth-child(2),
  .eventBox:nth-child(3) {
    margin-top: 0px !important;
  }
  .eventImgContainer {
    height: 280px !important;
  }
}

@media screen and (max-width: 500px) {
  .eventBoxContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
