.aboutServiceBox {
  width: 95%;
  margin: auto;
  height: 330px;
  background-color: red;
  position: relative;
  overflow: hidden;
}

.aboutServiceTop h1 {
  font-weight: 300;
  font-size: 3.2rem;
  margin-bottom: 10px;
  color: rgb(254, 15, 254);
}
.aboutServiceTop p {
  font-weight: 100;
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: 700px;
}

.serviceBoxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serviceBoxImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.serviceBoxInfo {
  width: 100%;
  box-sizing: border-box;
  background-image: rgb(254, 15, 254);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  backdrop-filter: blur(10px) !important;
  height: 0;
  opacity: 0;
  transition: 0.5s;
}

.serviceBoxInfo h1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 700;
}
.serviceBoxInfo p {
  font-size: 0.6rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.serviceBoxInfo button {
  background: #fff;
  color: black;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.aboutServiceBox:hover .serviceBoxInfo {
  opacity: 1;
  height: 138px;
}

.aboutServiceBox:hover .serviceBoxImg img {
  transform: scale(1.06);
}
