.aboutUs {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box !important;
}
.aboutUsContainer {
  width: 75%;
  height: 100%;
  display: flex;
  margin: auto;
  /* background-color: red; */
}
.aboutUsLeft .aboutUsRight {
  flex-basis: 50%;
}

.aboutUsLeft {
  position: relative;
  width: 100%;
  height: 100%;
}

.aboutUsLeft h1 {
  margin-left: 120px;
  font-weight: 400;
  font-size: 2.6rem;
}

.side-box {
  position: absolute;
  width: 80px;
  height: 40%;
  background-color: rgb(254, 15, 254);
}

.aboutLeftImages {
  width: 100%;
  height: 390px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: center; */
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.leftImageBox {
  width: 100%;
  height: 125px;
  margin-top: 70px;
}

.leftImageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leftImageBox:nth-child(2) {
  margin-top: 170px;
}

.aboutUsRight {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.aboutUsRight p {
  font-size: 0.9rem;
  width: 90%;
  line-height: 1.5;
  margin: 20px 10px 30px;
  flex-basis: 20%;
}
.aboutRightImgContainer {
  width: 100%;
  height: 410px;
}
.aboutRightImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
