.aboutServices {
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}
.aboutServicesContainer {
  width: 94%;
  margin: auto;
}

.aboutServiceBottom {
  width: 100%;
  padding: 20px 0;
  height: 100%;
  margin: auto;
}
.aboutServiceTop {
  margin-bottom: 20px;
}
.aboutServiceTop p {
  letter-spacing: 2px;
  width: 70% !important;
  font-size: 17px !important;
}

@media screen and (max-width: 840px) {
  .aboutContentSpan {
    font-size: 2rem;
  }

  .aboutServiceTop p {
    letter-spacing: 0px;
    width: 10px;
    font-size: 15px !important;
    width: 80% !important;
  }
}
