.aboutServices {
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
}
.aboutServicesContainer {
  width: 94%;
  margin: auto;
}

.aboutServiceBottom {
  width: 100%;
  padding: 20px 0;
  height: 100%;
  margin: auto;
}
.aboutServiceTop {
  margin-bottom: 20px;
}
.aboutServiceTop p {
  letter-spacing: 2px;
  width: 80%;
}
