.testimonials {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    190deg,
    rgba(0, 180, 245, 0.022),
    rgba(0, 247, 255, 0.421)
  );
}

.testiContainer {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.testiLeft {
  padding: 10px;
  flex-basis: 50%;
}
.testiLeft h1 {
  font-weight: 300;
  font-size: 2.3rem;
}

.testiLeft p {
  margin-top: 20px;
  font-weight: 100;
  font-size: 0.95rem;
  line-height: 1.6;
}

.testiRight {
  flex-basis: 50%;
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.testiButtonContainer {
  position: absolute;
  right: 20px;
  bottom: 120px;
}
.testiBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
  color: #fff;
  line-height: 35px;
  cursor: pointer;
}
.testiBtnLeft {
  border: 2px solid rgb(0, 128, 255);
  background: #000;
  margin: 0 10px;
}

.testiBtnRight {
  background: rgb(56, 149, 255);
  border: 2px solid #fff;
}

.btnIcon {
  font-size: 13px;
  font-weight: 100 !important;
  margin: auto;
}

@media screen and (max-width: 840px) {
  .testimonials {
    height: 100%;
  }

  .testiContainer {
    width: 90%;
    flex-direction: column;
  }
  .testiButtonContainer {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .testiRight {
    width: 90%;
    margin: auto;
  }
}
