.servicePrice {
  width: 100%;
  height: 100vh;
}

.servicePriceBackground {
  width: 100%;
  height: 100vh;
  object-fit: cover !important;
  background-size: contain;
}

.servicePriceContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.692);
}
.serviceContentTop {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
}

.serviceContentInfo {
  text-align: center;
  width: 600px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.serviceContentInfo h1 {
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.serviceContentInfo p {
  line-height: 1.8;
  font-size: 0.9rem;
  margin-bottom: 20px;
  font-weight: 100;
}

.servicePriceContentBottom {
  width: 100%;
  padding: 20px 0;
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 840px) {
  .servicePrice,
  .servicePriceBackground,
  .servicePriceContainer {
    height: 100%;
  }
  .serviceContentInfo {
    text-align: left;
    margin-left: 20px;
  }

  .serviceContentInfo h1 {
    font-size: 2rem;
  }
  .serviceContentInfo p {
    font-size: 0.9rem;
  }

  .servicePriceContentBottom {
    grid-template-columns: 1fr;
    width: 80%;
  }
}
